{% extends 'base.html.twig' %}

{% block title %}Gérer les catégories
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Gérer les types de festivals</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
			
		{% endfor %}

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for typeFestival in typeFestivals %}
					<tr>
						<td>{{ typeFestival.nom }}</td>
						<td>
                            <a href="{{ path('admin.typeFestival.edit', {id: typeFestival.id}) }}" class="btn btn-secondary">Editer</a>
							<form method="post" action="{{ path('admin.typeFestival.delete', {id: typeFestival.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer {{ typeFestival.nom }} ?')" style="display: inline-block">
								<input type="hidden" name="_method" value="DELETE">
								<button class="btn btn-danger">Supprimer</button>
							</form>
                        </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="text-right">
			<a href="{{ path('admin.typeFestival.new') }}" class="btn btn-primary">Ajouter une nouvelle catégorie</a>
		</div>
	</div>
{% endblock %}