{% extends 'adminBase.html.twig' %}

{% block title editionFestivals.nom %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					{% if editionFestivals.filename %}
						<img src="{{ vich_uploader_asset(editionFestivals, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
					{% else %}
						<img src="{{ '/images/editions/empty.jpg' | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
					{% endif %}
				</div>
				<div class="col-md-4">
					<h1>{{ editionFestivals.nom }}</h1>
					<h3>{{ editionFestivals.ville }}</h3>
					<h3 class="mb-5">{{ editionFestivals.pays }}</h3>
					<div>
						<p>Edition du festival :</p>
						<a href="{{ path('festival.show', {id: editionFestivals.festival.id, slug: editionFestivals.festival.slug}) }}">
							{% if editionFestivals.festival.filename %}
								<img src="{{ vich_uploader_asset(editionFestivals.festival, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
							{% else %}
								<img src="{{ '/images/editions/empty.jpg' | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
							{% endif %}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-4">
		<p>Dates :
												du
			{{ editionFestivals.dateDebut | date('d-m-Y') }}
			au
			{{ editionFestivals.dateFin | date('d-m-Y')}}</p>
		<p>Nombre de jours :
			{{ editionFestivals.NbJour }}</p>
	</p>
	<p>Nombre de lieux de projections :
		{{ editionFestivals.NbLieuProjection }}</p>
</p>

<p>Site officiel :
	{% if editionFestivals.festival.lien %}
		<a href="{{ editionFestivals.festival.lien }}" target="_blank">{{ editionFestivals.festival.lien }}</a>
	{% else %}
		<p>Non renseigné !</p>
	{% endif %}
</p>
<p>Type de festival :
	{% for type in editionFestivals.typeFestivals %}
		<p>-
			{{ type.nom }}</p>
	{% endfor %}
</p>

<div class="container">
	<p>Prix :</p>
	<div class="row flex">
		{% for prix in editionFestivals.prixes %}

			<div class="col-3">
				{{ prix.nom }}
				<div class="card">
					<a href="{{ path('film.show', {id: prix.film.id, slug: prix.film.slug}) }}">
						{% if prix.film.filename %}
							<img src="{{ vich_uploader_asset(prix.film, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
						{% else %}
							<img src="{{ '/images/editions/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
						{% endif %}

						<div class="card-body">
							<h5 class="card-title">
								{{ prix.film.nom }}
							</h5>
							<div class="text-primary">
								<p class="card-text">{{ prix.film.description | slice(0,50) }}...</p>
							</div>
							<div class="text-primary">
								- Durée :
								{% if prix.film.duree  %}
									{{ prix.film.duree }} min 
								{% endif %}
								{% if prix.film.seconde %}
									{{ prix.film.seconde }} seconde
								{% endif %}
							</div>
							<div class="text-primary">
								- Sortie :
								{{ prix.film.date }}
							</div>
						</div>
					</a>
				</div>
			</div>
		{% else %}
			<p>Cette edition de festival n'a pas encore été associé à des films !</p>
		{% endfor %}
	</div>
</div>

<div class="container">
	<p>Film par sélection :</p>
	<div class="row flex">
		{% for selection in editionFestivals.selections %}
				<div class="col-12">
					{{ selection.nom }}
				</div>
				{% for film in selection.films %}
					<div class="col-2">
						{{ film.nom }}
						<div class="card">
							<a href="{{ path('film.show', {id: film.id, slug: film.slug}) }}">
								{% if film.filename %}
									<img src="{{ vich_uploader_asset(film, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
								{% else %}
									<img src="{{ '/images/films/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
								{% endif %}

								<div class="card-body">
									<h5 class="card-title">
										{{ film.nom }}
									</h5>
								</div>
							</a>
						</div>
					</div>
				{% else %}
					<p>Cette sélection n'a pas encore été associé à des films</p>
				{% endfor %}
				<br>
		{% endfor %}
	</div>
</div>{% endblock %}
