{{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-primary">{{ button|default('Enregistrer')}}</button>
        <a href="{{ path('admin.langue.index') }}" class="btn btn-danger">Retour</a>
{{ form_end(form) }}