{% extends 'adminBase.html.twig' %}

{% block title films.nom %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					{% if films.filename %}
						<img src="{{ vich_uploader_asset(films, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
					{% else %}
						<img src="{{ '/images/films/empty.jpg' | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
					{% endif %}
				</div>
				<div class="col-md-4">
					<h1>{{ films.nom }}</h1>
					<h3>Realisateur :
						{{ films.realisateur }}</h3>
					<h3>Sortie :
						{{films.date}}</h3>
					<h3>Durée :
						{% if films.duree  %}
							{{ films.duree }} min 
						{% endif %}
						{% if films.seconde %}
							{{ films.seconde }} seconde
						{% endif %}
					</h3>
					<div class="container">
						<p>Studios :</p>
						<div class="row flex">
							{% for studio in films.studios %}
								<div class="col-6">
									<div class="card">
										<a href="{{ path('studio.show', {id: studio.id, slug: studio.slug}) }}">
											{% if studio.filename %}
												<img src="{{ vich_uploader_asset(studio, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
											{% else %}
												<img src="{{ '/images/studio/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
											{% endif %}

											<div class="card-body">
												<h6 class="card-title">
													{{ studio.nom }}
												</h6>
											</div>
										</a>
									</div>
								</div>
							{% else %}
								<p>Ce film n'a pas encore été associé à des studios !</p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-4">
		<p>Description :
			{{ films.description }}</p>
		<p>Année de production :
			{{ films.anneeDeProduction }}</p>
		<p>Durée de production :
			{{ films.dureeDeProduction }}
			ans</p>
		<div>
			<p>Bande Annonce :</p>
			{{ films.lienVideo | raw}}
		</div>
		{% if films.traduitFr %}
			<p>Existe en français</p>
		{% endif %}
		{% if films.soustitresFr %}
			<p>Sous-titre en français</p>
		{% endif %}
	</div>
	{# <div class="container">
			<p>Séléctionné aux festivals :</p>
			<div class="row flex">
				{% for edition in films.editionFestivals %}
					<div class="col-3">
						<div class="card">
							<a href="{{ path('editionFestival.show', {id: edition.id, slug: edition.slug}) }}">
								{% if edition.filename %}
									<img src="{{ vich_uploader_asset(edition, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
								{% else %}
									<img src="{{ '/images/editions/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
								{% endif %}
	
								<div class="card-body">
									<h5 class="card-title">
										{{ edition.nom }}
									</h5>
									<div class="text-primary">
										- Ville :
										{{ edition.ville }}
									</div>
									<div class="text-primary">
										- Pays :
										{{ edition.pays }}
									</div>
								</div>
							</a>
						</div>
					</div>
				{% else %}
					<p>Ce film n'a pas encore été associé à des féstivals !</p>
				{% endfor %}
			</div>
		</div> #}
	<div class="container">
		<p>Prix reçus :</p>
		<div class="row flex">
			{% for prix in films.prixes %}
				<div class="col-3">
					<div class="card">
						{% if prix.editionFestival.filename %}
							<img src="{{ vich_uploader_asset(prix.editionFestival, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
						{% else %}
							<img src="{{ '/images/editions/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">
								{{ prix.nom }}
							</h5>
							<div class="text-primary">
								<a href="{{ path('editionFestival.show', {id: prix.editionFestival.id, slug: prix.editionFestival.slug}) }}">{{ prix.EditionFestival.nom }}</a>
							</div>
						</div>
					</a>
				</div>
			</div>
		{% else %}
			<p>Ce film n'a pas encore été associé à des féstivals !</p>
		{% endfor %}
	</div>
</div>
<div class="container mt-4">
	{% if films.selections is not empty%}
		<p>Sélections :</p>
		{% for selection in films.selections %}
			<ul>
				<li><a href="{{ path('editionFestival.show', {id: selection.editionFestivals.id, slug: selection.editionFestivals.slug}) }}">{{ selection.nom }} - {{ selection.EditionFestivals.nom }}</a></li>
			</ul>
		{% endfor %}
	{% else %}
		<p>Ce film n'a pas encore été associé à des sélections !</p>
	{% endif %}
	{% if films.categories is not empty%}
		<p>Catégories :</p>
		<ul>
			{% for categorie in films.categories %}
				<li>{{ categorie.nom }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Ce film n'a pas encore été associé à des catégories !</p>
	{% endif %}


	{% if films.langues is not empty%}
		<p>langues :</p>
		<ul>
			{% for langue in films.langues %}
				<li>{{ langue.nom }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Ce film n'a pas encore été associé à des langues !</p>
	{% endif %}

	{% if films.publicCibles is not empty%}
		<p>Public cibles :</p>
		<ul>
			{% for public_cible in films.publicCibles %}
				<li>{{ public_cible.nom }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Ce film n'a pas encore été associé à des publics cibles !</p>
	{% endif %}
</div>{% endblock %}
