{{ form_start(form) }}
<div>
	{{ form_label(form.nom) }}
	{{ form_widget(form.nom) }}
	{{ form_errors(form.nom) }}
</div>
<div>
	{{ form_label(form.description) }}
	{{ form_widget(form.description) }}
	{{ form_errors(form.description) }}
</div>
<div>
	{{ form_label(form.duree) }}
	{{ form_widget(form.duree) }}
	{{ form_errors(form.duree) }}
</div>
<div>
	{{ form_label(form.date) }}
	{{ form_widget(form.date) }}
	{{ form_errors(form.date) }}
</div>
<div>
	{{ form_label(form.imageFile) }}
	{{ form_widget(form.imageFile) }}
	{{ form_errors(form.imageFile) }}
</div>
	<div id="categorie">
		{{ form_label(form.categories) }}
		{{ form_widget(form.categories) }}
		{{ form_errors(form.categories) }}
	</div>
	<div>
		{{ form_label(form.editionFestivals) }}
		{{ form_widget(form.editionFestivals) }}
		{{ form_errors(form.editionFestivals) }}
	</div>
	<div class="mt-2">
		{{ form_rest(form) }}
		<button class="btn btn-primary">{{ button|default('Enregistrer')}}</button>
		<a href="{{ path('admin.film.index') }}" class="btn btn-danger">Retour</a>
	</div>
	{{ form_end(form) }}