{% extends 'adminBase.html.twig' %}

{% block title studios.nom %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					{% if studios.filename %}
						<img src="{{ vich_uploader_asset(studios, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
					{% else %}
						<img src="{{ '/images/studios/empty.jpg' | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
					{% endif %}
				</div>
				<div class="col-md-4">
					<h1>{{ studios.nom }}</h1>
					<p>{{ studios.type }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-4">
		<p>Description :
			{{ studios.description | replace({";":"<br/>"})| raw }}</p>
	</div>
	<div class="container mt-4">
		<p>Site officiel :
			{% if studios.lien %}
			{% set liens  = studios.lien | split(';') %}			
			{% for lien in liens %}
				<p><a href="{{ lien }}" target="_blank">{{ lien }}</a></p>
			{% endfor %}
			{# <a href="{{ studios.lien }}" target="_blank">{{ studios.lien | replace({";":"<br/>"})| raw }}</a> #}
			</p>
		{% else %}
			<p>Non renseigné !</p>
		{% endif %}
	</div>
	<div class="container mt-4">
		<div class="row flex">
			{% for film in studios.films %}
				<div class="col-3">
					<div class="card">
						{% if film.filename %}
							<img src="{{ vich_uploader_asset(film, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
						{% else %}
							<img src="{{ '/images/films/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
						{% endif %}

						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path('film.show', {id: film.id, slug: film.slug}) }}">{{ film.nom }}</a>
							</h5>
							<div class="text-primary">
								{{ film.description | slice(0,50) }}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Personne</th>
				<th>Role</th>
				<th>Film</th>
			</tr>
		</thead>
		<tbody>
			{% for tech in studios.techniciens %}
					{% for poste in tech.postes %}
						{% for studio in poste.film.studios %}
							{% if studio == studios %}
							<tr>
								<td>{{ tech.nom }}</td>
								<td>{{ poste.nom }}</td>
								<td>{{ poste.film.nom }}</td>
							</tr>
							{% endif %}
						{% endfor %}
					{% endfor %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
