{% extends 'adminBase.html.twig' %}

{% block title %}Gérer les films
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Gérer les festivals</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
			
		{% endfor %}

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Vignette</th>
					<th>Titre  <a href="{{ path('admin.festival.aBOrder') }}">↑</a><a href="{{ path('admin.festival.zYOrder') }}">↓</a> </th>
					<th>Actions</th>
					<th>Mise à jour <a href="{{ path('admin.festival.latest') }}">↑</a><a href="{{ path('admin.festival.oldest') }}">↓</a></th>
				</tr>
			</thead>
			<tbody>
				{% for festival in festivals %}
					<tr>
						<td>
							{% if festival.filename %}
								<img src="{{ vich_uploader_asset(festival, 'imageFile') | imagine_filter('small') }}" alt="card-img-top" style="width: 30%; height:auto;">
							{% else %}
								<img src="{{ '/images/festivals/empty.jpg' | imagine_filter('small') }}" alt="card-img-top" style="width: 30%; height:auto;">
							{% endif %}
						</td>
						<td>{{ festival.nom }}</td>
						<td>
                            <a href="{{ path('admin.festival.edit', {id: festival.id}) }}" class="btn btn-secondary">Editer</a>
							<form method="post" action="{{ path('admin.festival.delete', {id: festival.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer {{ festival.nom }} ?')" style="display: inline-block">
								<input type="hidden" name="_method" value="DELETE">
								<button class="btn btn-danger">Supprimer</button>
							</form>
                        </td>
						<td>{{ festival.updated_at | date("d/m/Y H:i")}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="text-right">
			<a href="{{ path('admin.festival.new') }}" class="btn btn-primary">Ajouter un nouveau festival</a>
			<a href="{{ path('admin.index') }}" class="btn btn-danger">Retour</a>
		</div>
	</div>
{% endblock %}
